.table {
    margin-top: 2em;
    margin-bottom: 2rem;
}

.table-body {
    background-color: white !important;
    color: black;
    --bs-table-bg: white;
}
tr {
   height: 50px;
}
td {
    vertical-align: center;
}

.td-center {
    text-align: center;
}

.table-item-name {
    min-width: 400px;
}