.meta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.inv-date {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.customer-print {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.customer-name-text {
    text-transform: uppercase;
}