.invoice-number {
    width: 150px !important;
}

.invoice-items {
    width: 125px !important;
}

.invoice-name {
    width: 175px !important;
}

.invoice-timestamp {
    width: 175px !important;
}

.invoice-amount {
    width: 100px !important;
}