.id-container {
    background-color: var(--bs-white);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.iv-title-text {
    font-weight: bolder;
    margin-bottom: 1.5rem;
}