.modal {
   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-content {
    min-width: 80vw !important;
    background-color: white;
    padding: 2rem;
}

.modal-dialog {
    min-width: 80vw !important;
}

.modal-title {
    color: black !important;
}